@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-gray-50 text-slate-800 font-sans antialiased;
  }
}

@media (min-width: 768px) and (pointer: fine) {

  *,
  *::before,
  *::after {
    cursor: none !important;
  }
}